// ************ BASE **************** //

nav ul li{
    text-decoration: none;
    display: inline;
    font-size: 2rem;
    padding: 0 2rem;
}

body {
    background: linear-gradient(orange,red,brown);
    background-repeat: no-repeat;
}