//  ******************** STYLE EXTENTION ******************** //

#chocolate,
#cheesecake,
#cake{
    transition: 1s ease-in;
    position: absolute;
    width: 30.5%;
    height: 30rem;
}

#chocolate:hover,
#cheesecake:hover,
#cake:hover{
    opacity: 0;
    transition: 1s ease-in-out;
}
